---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import { slideTransition } from "../utils/transitions";

const heading = "Fotogalerie";
---

<Layout>
    <main
        class="h-screen w-full pt-15"
        transition:animate={slideTransition}
        transition:name="main-content"
    >
        <section class="flex flex-col items-center justify-center">
            <h1 class="text-5xl font-light mb-8">{heading}</h1>
        </section>
        <aside class="fixed top-0 right-0 flex justify-center items-center h-full">
            <BackButton />
        </aside>
    </main>
</Layout>
