---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import { slideTransition } from "../utils/transitions";

const heading = "Ubytování";
---

<Layout>
    <main
        class="h-screen w-full pt-32 bg-surface/95 overflow-y-auto"
        transition:animate={slideTransition}
        transition:name="main-panel"
    >
        <section class="flex flex-col items-center justify-center px-6 sm:px-10">
            <h1 class="font-heading text-heading tracking-wider mb-16">{heading}</h1>
        </section>
        <aside class="fixed top-0 left-0 flex justify-center items-center h-full">
            <BackButton />
        </aside>
    </main>
</Layout>
