---

---

<div class="flex text-left gap-3">
    <div class="flex items-baseline">
        <span
            class="text-ink font-heading text-display xl:text-title font-extralight lining-nums min-w-[2.5ch] flex justify-center "
            >26 /
        </span>
    </div>
    <div class="flex items-baseline">
        <span
            class="text-ink font-heading text-display xl:text-title font-extralight lining-nums min-w-[2.5ch] flex justify-center "
            >09 /
        </span>
    </div>
    <div class="flex items-baseline">
        <span
            class="text-ink font-heading text-display xl:text-title font-extralight lining-nums min-w-[2.5ch] flex justify-center "
        >
            26</span
        >
    </div>
</div>
