---
const links = [
    { href: "/nas-pribeh", label: "Náš příběh" },
    { href: "/svatebni-den", label: "Svatební den" },
    { href: "/ubytovani", label: "Ubytování" },
    { href: "/fotogalerie", label: "Fotogalerie" },
    { href: "/dotaznik", label: "Dotazník" },
];
---

<nav class="menu-nav">
    <ul
        class="menu menu-xl menu-vertical text-muted *:p-4 items-center justify-center font-body font-extralight"
    >
        {
            links.map(({ href, label }) => (
                <li class="group flex justify-center">
                    <a
                        class="rounded-none nav-btn text-4xl xl:text-3xl 2xl:text-[2.5rem] inline-flex flex-col items-center text-center transition-all duration-300 group-hover:text-hover after:content-[attr(data-text)] after:h-0 after:overflow-hidden after:invisible after:font-light after:pointer-events-none"
                        href={href}
                        data-text={label}
                    >
                        {label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
